/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:wght@400;700&family=Cinzel:wght@400..900&display=swap');

/* variables for css property */
:root {
    --text-color: #DE3C3C;
    --heading-color: #C00000;
    /* bg colors */
    --bg-color: #F8F9FC;
    --overlay-color: #F7B32D;
}

/* Asterisk wildcard selector to override the default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    color: var(--text-color);
}

h1, h2, h3 {
    font-family: "Cinzel", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--heading-color);
}

/* Header */
header {
    background-color: var(--bg-color);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    border-bottom: 1px solid var(--heading-color);
}

header a {
    text-decoration: none;
    color: inherit;
}

/* logo styles */
#logo {
    color: var(--text-color);
    font-size: 46px;
    padding: 10px;
    margin-left: 20px;
}

/* menu items */
#menu {
    color: var(--heading-color);
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    font-size: 24px;
}


#menu a {
    padding: 0.5rem;
    margin: 1.5rem;
    transition: all 0.2s ease-in;
}

#menu a:hover {
    border-bottom: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: rgba(247, 179, 45, 0.5);
}

.active {
    border-bottom: 1px solid var(--text-color);
}

/* hiding the nav toggle */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

/* Main Content */
main {
    margin-top: 82px;
    background-color: var(--bg-color);
    flex: 1;
}

/* Hero section */
#hero {
    background: url('../images/Hero.jpg') rgba(247, 179, 45, 0.2) center top/cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    height: 800px;
    width: 100%;
    position: relative;
}

#hero::after {
    content: "";
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(248,249,252,1) 100%);
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 300px;
}

/* cover text */
#cover-text {
    /* The last value of the rgba sets the opacity */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cover-text h1 {
    font-size: 3.5rem;
    color: var(--bg-color);

    display: inline-block;
    
    background-color: rgba(192, 0, 0, 0.6);
    border-radius: 10px;

    margin-bottom: 20px;

    padding: 5px 20px;
}

#cover-text h2 {
    font-size: 2.5rem;
    color: var(--bg-color);

    background-color: rgba(192, 0, 0, 0.6);
    border-radius: 10px;

    padding: 5px 20px;
}

/* footer */
footer {
    color: var(--heading-color);
    background-color: var(--bg-color);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

footer a {
    color: var(--heading-color);
    text-decoration: none;
}

#footer-logo {
    text-align: center;
}


#footer-logo h1 {
    color: var(--text-color);
}

.footer-list h4 {
    font-size: 130%;
    margin-bottom: 1rem;
}

.footer-list ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer-list ul > li {
    margin-bottom: 0.5rem;
}

.footer-list i {
    color: var(--heading-color);
}

@media screen and (max-width: 940px) {
    /* Navbar styles with dropdown toggle */
    nav {
        position: absolute;
        background-color: var(--bg-color);
        padding: 2rem;
        border: 1px solid var(--heading-color);
        border-radius: 5%;
        right: 2rem;
        top: 100%;
        display: none;
    }

    #menu {
        flex-direction: column;
    }

    #menu li {
        padding: 1rem 0;
    }
    
    /* Navbar toggle */
    #nav-toggle:checked~nav {
        display: block;
    }

    .nav-toggle-label {
        display: block;
        font-size: 2rem;
        font-weight: 700;
    }

    .nav-toggle-label i {
        color: var(--heading-color);
    }
}

@media screen and (max-width: 720px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-list {
        padding: 2rem 0;
    }

    .footer-list ul {
        text-align: center;
    }
}